In [191]:
import glob
import os
import pandas as pd

# Exploring, cleaning and testing

In [192]:
files = sorted(glob.glob('/home/hytonenj/Desktop/idv-project/data/csse_covid_19_daily_reports/*.csv'))
len(files)

64

In [193]:
df = pd.read_csv(files[60])

In [194]:
df.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US"
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US"
2,36119.0,Westchester,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0,0,"Westchester, New York, US"
3,36103.0,Suffolk,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0,0,"Suffolk, New York, US"
4,36087.0,Rockland,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0,0,"Rockland, New York, US"
5,36071.0,Orange,New York,US,3/22/20 23:45,41.403375,-74.302408,247,0,0,0,"Orange, New York, US"
6,36001.0,Albany,New York,US,3/22/20 23:45,42.600603,-73.977239,123,0,0,0,"Albany, New York, US"
7,36027.0,Dutchess,New York,US,3/22/20 23:45,41.764861,-73.743567,82,0,0,0,"Dutchess, New York, US"
8,36055.0,Monroe,New York,US,3/22/20 23:45,43.146389,-77.693229,68,1,0,0,"Monroe, New York, US"
9,36029.0,Erie,New York,US,3/22/20 23:45,42.762490,-78.730637,56,0,0,0,"Erie, New York, US"

In [195]:
len(df)

3417

In [196]:
#df['Country/Region'].unique()

In [197]:
data.rename(columns = {'Country_Region': 'Country'}, inplace = True)

data.rename(columns = {'Country/Region': 'Country'}, inplace = True)
data['Country'].replace({'Mainland China' : 'China', 'UK' : 'United Kingdom', 'US' : 'United States'}, inplace = True)
data = df.groupby('Country/Region')['Confirmed','Deaths', 'Recovered'].sum()
data

KeyError: 'Country/Region'

In [ ]:
data.index

In [ ]:
data.reset_index(level=0, inplace=True)

In [ ]:
data

In [ ]:
data.rename(columns = {'Country/Region': 'Country'}, inplace = True)
data['Country'].replace({'Mainland China' : 'China', 'UK' : 'United Kingdom', 'US' : 'United States'}, inplace = True)

In [ ]:
data

In [ ]:
data.drop(data[data['Country']=='Others'].index , inplace=True)
data.drop(data[data['Country']=='Bahamas, The'].index , inplace=True)
data.drop(data[data['Country']=='Cruise Ship'].index , inplace=True)

In [ ]:
data

In [ ]:
filename = os.path.basename(files[60])

In [ ]:
data['Date'] = filename[0:-4]
data

In [ ]:
#data.to_csv(r'/home/hytonenj/Desktop/idv-project/data/cleaned_reports/%s' %filename, index = False)

In [ ]:
column_names = ["Date", "Country", "Confirmed", "Recovered", "Deaths"]
df_new = pd.DataFrame(columns = column_names)
df_new.append(data)

In [ ]:
df_new.append(data)