In [2]:
import glob
import os
import pandas as pd

# Exploring, cleaning and testing

In [3]:
files = sorted(glob.glob('/home/hytonenj/Desktop/idv-project/data/csse_covid_19_daily_reports/*.csv'))
len(files)

64

In [4]:
df = pd.read_csv(files[63])

In [5]:
df.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-25 23:33:19,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-25 23:33:19,30.295065,-92.414197,2,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-25 23:33:19,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-25 23:33:19,43.452658,-116.241552,24,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-25 23:33:19,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-03-25 23:33:19,37.104598,-85.281297,0,0,0,0,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-03-25 23:33:19,40.190586,-92.600782,1,0,0,0,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-03-25 23:33:19,35.884942,-94.658593,2,0,0,0,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-03-25 23:33:19,39.874321,-104.336258,27,0,0,0,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-03-25 23:33:19,44.893336,-116.454525,0,0,0,0,"Adams, Idaho, US"

In [195]:
len(df)

3417

In [196]:
#df['Country/Region'].unique()

In [197]:
data.rename(columns = {'Country_Region': 'Country'}, inplace = True)

data.rename(columns = {'Country/Region': 'Country'}, inplace = True)
data['Country'].replace({'Mainland China' : 'China', 'UK' : 'United Kingdom', 'US' : 'United States'}, inplace = True)
data = df.groupby('Country/Region')['Confirmed','Deaths', 'Recovered'].sum()
data

KeyError: 'Country/Region'

In [ ]:
data.index

In [ ]:
data.reset_index(level=0, inplace=True)

In [ ]:
data

In [ ]:
data.rename(columns = {'Country/Region': 'Country'}, inplace = True)
data['Country'].replace({'Mainland China' : 'China', 'UK' : 'United Kingdom', 'US' : 'United States'}, inplace = True)

In [ ]:
data

In [ ]:
data.drop(data[data['Country']=='Others'].index , inplace=True)
data.drop(data[data['Country']=='Bahamas, The'].index , inplace=True)
data.drop(data[data['Country']=='Cruise Ship'].index , inplace=True)

In [ ]:
data

In [ ]:
filename = os.path.basename(files[60])

In [ ]:
data['Date'] = filename[0:-4]
data

In [ ]:
#data.to_csv(r'/home/hytonenj/Desktop/idv-project/data/cleaned_reports/%s' %filename, index = False)

In [ ]:
column_names = ["Date", "Country", "Confirmed", "Recovered", "Deaths"]
df_new = pd.DataFrame(columns = column_names)
df_new.append(data)

In [ ]:
df_new.append(data)